<div class="container p-4">

  <h1>Add BlogPost</h1>

  <!-- Form for blog infos with Angular's two-way binding, submitting on ngSubmit -->
  <form #form="ngForm" (ngSubmit)="onFormSubmit()" name="blogEntries">
    <div class="mb-5 mt-2">
      <!-- Title input field, binds to 'model.title' -->
      <div class="mt-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          [(ngModel)]="model.title"
        />
      </div>

      <!-- URL Handle input field, binds to 'model.urlHandle' -->
      <div class="mt-3">
        <label for="urlHandle" class="form-label">Url Handle</label>
        <input
          type="text"
          id="urlHandle"
          name="urlHandle"
          class="form-control"
          [(ngModel)]="model.urlHandle"
        />
      </div>
      <!-- Shows error massage if the Url handle field is not field out -->
      <small class="text-danger justify-content-start mt-2">
        {{ this.urlHandleWarning }}
      </small>

      <!-- Short Description input field -->
      <div class="mt-3">
        <label for="shortDescription" class="form-label"
          >Short Description</label
        >
        <input
          type="text"
          id="shortDescription"
          name="shortDescription"
          class="form-control"
          [(ngModel)]="model.shortDescription"
        />
      </div>

      <!-- Featured Image URL input field with an option to select from a modal -->
      <div class="mt-3">
        <label for="featuredImageUrl" class="form-label"
          >Featured Image Url</label
        >
        <div class="input-group">
          <input
            type="text"
            id="featuredImageUrl"
            name="featuredImageUrl"
            class="form-control"
            [(ngModel)]="model.featuredImageUrl"
          />
          <!-- Button to trigger image selection modal -->
          <button
            type="button"
            class="btn btn-secondary"
            name="selectImageButton"
            data-bs-toggle="modal"
            data-bs-target="#selectModal"
          >
            Select Image
          </button>
        </div>

        <!-- Display the selected image if URL is not empty -->
        @if (model.featuredImageUrl != '') {
          <div>
            <img
              [src]="model.featuredImageUrl"
              height="100"
              class="rounded-2 ms-1 mt-2"
            />
          </div>
        }
      </div>

      <!-- Content editor with live markdown preview -->
      <div class="card mt-4">
        <div class="card-header">Content</div>
        <div class="d-flex card-body flex-row">
          <!-- Textarea for editing blog content -->
          <div class="col-6 p-2">
            <textarea
              id="content"
              name="content"
              class="form-control scroll scroll--simple"
              style="height: 350px; max-height: 350px; overflow: auto"
              [(ngModel)]="model.content"
            ></textarea>
          </div>
          <!-- Live markdown preview of the blog content -->
          <div
            class="col-6 scroll scroll--simple p-2"
            style="max-height: 350px; overflow: auto"
          >
            <markdown [data]="model.content"></markdown>
          </div>
        </div>
      </div>

      <!-- Published Date input field -->
      <div class="mt-3">
        <label for="publishedDate" class="form-label">Published Date</label>
        <input
          type="date"
          id="publishedDate"
          name="publishedDate"
          class="form-control"
          [value]="model.publishedDate | date: 'yyyy-MM-dd'"
          [ngModel]="model.publishedDate | date: 'yyyy-MM-dd'"
          (ngModelChange)="model.publishedDate = $event"
        />
      </div>

      <!-- Author input field -->
      <div class="mt-3">
        <label for="author" class="form-label">Author</label>
        <input
          type="text"
          id="author"
          name="author"
          class="form-control"
          [(ngModel)]="model.author"
        />
      </div>

      <!-- Checkbox to toggle visibility of the blog post -->
      <div class="form-check mt-3">
        <input
          class="form-check-input"
          type="checkbox"
          id="isVisible"
          name="isVisible"
          [(ngModel)]="model.isVisible"
        />
        <label class="form-check-label" for="isVisible">publish</label>
      </div>

      <!-- Categories selection dropdown (allows multiple selections) -->
      <div class="mt-3">
        @if (categories$ | async; as categories) {
          <label for="categories" class="form-label">Categories</label>
          <select
            class="form-control scroll scroll--simple"
            [(ngModel)]="model.categories"
            id="categories"
            name="categories"
            multiple
            style="height: 70px; overflow: auto"
          >
            <!-- Loop through categories to create options -->
            @for (category of categories; track category) {
              <option [value]="category.id">{{ category.name }}</option>
            }
          </select>
        }
      </div>

      <!-- Button to submit the form -->
      <div class="mt-3">
        <button type="submit" class="btn btn-success" name="saveButton">
          Save
        </button>
      </div>
    </div>
  </form>
</div>

<!-- Modal for image selection component -->
<div
  class="modal fade"
  id="selectModal"
  tabindex="-1"
  data-bs-backdrop="true"
  data-bs-keyboard="true"
  aria-labelledby="selectModalLabel"
  aria-hidden="true"
>
  <!-- Custom image selector component to choose a featured image -->
  <app-image-selector></app-image-selector>
</div>
